<html>
<head>
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
  <script src="/eap/chartAjax.js"></script>
</head>
<body>
  <canvas id="markov" width="300" height="300"></canvas>
  <canvas id="rnn" width="300" height="300"></canvas>
</body>
</html>
