<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" type="css">
  <link rel="stylesheet" href="style.css" type="css">
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
  <script src="ajaxCrap.js"></script>
</head>
<body>
<script>

</script>
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <center>
          <span class="turingtest"><h1>TURING TEST </h1></span>
        </center>
      </div>
    </div>

    <div class="row">
      <div class="six columns">
        <center>
          <button id="poem1Button" trial_id="{{ trial_id }}" class="poemButton">This one?</button>
        </center>
      </div>
      <div class="six columns">
        <center>
          <button id="poem2Button" trial_id="{{ trial_id }}" class="poemButton">This one?</button>
        </center>
      </div>
    </div>

    <div class="row">
      <div class="six columns wordwrap" id="choice1">{{{poem1}}}</div>
      <div class="six columns wordwrap" id="choice2">{{{poem2}}}</div>
    </div>
  </div>

</body>
</html>
