.wordwrap {
   white-space: pre-wrap;      /* CSS3 */
   white-space: -moz-pre-wrap; /* Firefox */
   white-space: -pre-wrap;     /* Opera <7 */
   white-space: -o-pre-wrap;   /* Opera 7 */
   word-wrap: break-word;      /* IE */
}

body {
  background-color: #F2F1EF;
}

h1 {
  color: #1BBC9B;
  font-family: 'Source Code Pro';
  font-size: 6em;
  margin-bottom: 15px;
}

h2 {
  color: #1BBC9B;
  font-size: 1.3em;
  margin-bottom: 6rem;
}

#choice1, #choice2 {
  border: 1px solid white;
  border-radius: 4px;
  padding: 5px;
}

.button, button, input[type=button], input[type=reset], input[type=submit] {
  color: white;
  background-color: #1BBC9B;
  border-color: #1BBC9B;
}




.poem {
    margin-bottom: 30px;
}
