.wordwrap {
   white-space: pre-wrap;      /* CSS3 */
   white-space: -moz-pre-wrap; /* Firefox */
   white-space: -pre-wrap;     /* Opera <7 */
   white-space: -o-pre-wrap;   /* Opera 7 */
   word-wrap: break-word;      /* IE */
}

body {
  background-color: #F2F1EF;
}

h1 {
  color: #1BBC9B;
  font-family: 'Source Code Pro';
  font-size: 6em;
  margin-bottom: 15px;
}

h2 {
  color: #1BBC9B;
  font-size: 1.3em;
}

#choice1, #choice2 {
  padding: 40px;
  line-height: 175%;
}

.button, button, input[type=button], input[type=reset], input[type=submit] {
  color: white;
  background-color: #1BBC9B;
  border-color: #1BBC9B;
}

.button:focus, .button:hover, button:focus, button:hover, input[type=button]:focus, input[type=button]:hover, input[type=reset]:focus, input[type=reset]:hover, input[type=submit]:focus, input[type=submit]:hover {
  color: white;
  background-color: #1BBC9B;
  border-color: #1BBC9B;
}
.poem {
    margin: 15px;
}

.container {position: relative;}

#box {
    height: 100px;
    width: 100px;
    background-color: #777;
    position: absolute;
    left: 5px;
    top: 5px;
    opacity: 0;
}

@-webkit-keyframes demo {
    0% {
        background-color: Yellow;
        opacity:1;
    }
    22% {
        background-color: Yellow;
    }
    77% {
        background-color: Red;
    }
    100% {
        background-color: #777;
    }
}
